@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  background-color: #ffffff;
  color: #151515;
  scrollbar-width: thin;
  scrollbar-color: rgb(209, 213, 219) transparent;
}

html.dark {
  background-color: #151515;
  color: #ffffff;
  scrollbar-color: rgb(75, 85, 99) transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(209, 213, 219);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156, 163, 175);
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(75, 85, 99);
}

html.dark ::-webkit-scrollbar-thumb:hover {
  background-color: rgb(107, 114, 128);
}
